.tableResponse {
  margin-top: 50px;
}
.tableResponse tr td {
  padding: 20px;
  border: 1px solid #cbcbcb;
}
.tableResponse tr td ul {
  text-align: left;
  margin: 0;
  padding: 0;
}
.tableResponse tr td li {
  display: inline-block;
  margin-right: 15px;
}
.tableResponse tr td a {
  text-decoration: none;
  outline: none;
  color: #000;
  font-size: 16px;
}
/* .tableResponse tr td:first-child, .tableResponse tr td:nth-child(2){
    width: 40%;
}
.tableResponse tr td:last-child {
    width: 20%;
} */
