.userHeaderSec {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto 20px;
  position: relative;
  z-index: 2;
}
.UserLeftNavigation {
  max-width: 1220px;
  margin: auto;
  position: relative;
  z-index: 2;
}
