.UserRightNavigation {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding-left: 20px;
}

.UserRightNavigation button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
  color: #000 !important;
  background-color: transparent;
  box-shadow: 0 0 10px transparent;
}
.UserRightNavigation button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary {
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
  margin-right: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgb(0 0 0 / 6%);
  text-transform: capitalize Im !important;
}
