pageContainer.buttonCenter1 {
  margin-top: 30px;
}

.buttonCenter1 ul {
  margin: 0;
  padding: 0;
}

.buttonCenter1 ul li {
  display: inline-block;
  list-style: none;
}

.buttonCenter1 ul li a {
  margin: 0px 15px;
  padding: 12px 30px;
  background-color: #fff;
  box-shadow: 0 10px 25px 0 rgb(50 50 93 / 7%), 0 5px 15px 0 rgb(0 0 0 / 7%);
  font-size: 16px;
  font-weight: 500;
  color: #000;
  border-radius: 5px;
  border: 1px solid rgb(50 50 93 / 7%);
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #efefef;
  border-radius: 0.25rem;
}

.buttonCenter2 {
  background-color: #fff;
  box-shadow: 0 10px 25px 0 rgb(50 50 93 / 7%), 0 5px 15px 0 rgb(0 0 0 / 7%);
  margin-top: 20px;
}

.buttonCenter1 ul li svg {
  margin-right: 10px;
}

.buttonCenter1 ul li p,
.buttonCenter1 ul li svg {
  vertical-align: middle;
  display: inline-block;
}

.buttonCenter2Inners {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.buttonCenter2Inner h4 {
  margin: 10px 0px 0px;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.buttonCenter2Inner {
  background-color: #fdfaea;
  padding: 20px;
}

.buttonCenter2Inner1 {
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
}

.buttonCenter2Inners {
  padding: 10px 20px 10px 0px;
}

.buttonCenter2Inner1 p {
  margin: 0;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

.buttonCenter2InnerAfter {
  position: relative;
  margin-top: 5px;
}

.buttonCenter2InnerAfter input[type='text'] {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 10px 10px;
  border: 1px solid #eee;
}

.buttonCenter2InnerAfter button {
  border: none;
  background-color: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.cardBordered {
  border: 1px solid #ebebeb;
}

.card {
  border: 0;
  border-radius: 0px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.padding {
  padding: 3rem !important;
}

body {
  background-color: #f9f9fa;
}

.cardHeader:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.cardHeader {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.cardHeader .cardTitle {
  padding: 0;
  border: none;
}

h4.cardTitle {
  font-size: 17px;
}

.cardHeader > *:last-child {
  margin-right: 0;
}

.cardHeader > * {
  margin-left: 8px;
  margin-right: 8px;
}

.btnSecondary {
  color: #4d5259 !important;
  background-color: #e4e7ea;
  border-color: #e4e7ea;
  color: #fff;
}

.btn-Xs {
  font-size: 11px;
  padding: 2px 8px;
  line-height: 18px;
}

.btnXs:hover {
  color: #fff !important;
}

.cardTitle {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.psContainer {
  position: relative;
}

.psContainer {
  -ms-touch-action: auto;
  touch-action: auto;
  /* overflow: hidden!important; */
  -ms-overflow-style: none;
  overflow-y: scroll;
}

.mediaChat {
  padding-right: 64px;
  margin-bottom: 0;
  clear: both;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.media .avatar {
  flex-shrink: 0;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
  background-color: #f5f6f7;
  color: #8b95a5;
  text-transform: uppercase;
}

.mediaChat .mediaBody {
  -webkit-box-flex: initial;
  flex: initial;
  display: inline-block;
}

.mediaBody {
  min-width: 0;
}

.mediaChat .mediaBody p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px;
  font-weight: 500;
  color: #9b9b9b;
}

.media > * {
  margin: 0 8px;
}

.mediaChat .mediaBody p.meta {
  background-color: transparent !important;
  padding: 0;
  opacity: 0.8;
}

.mediaMetaDay {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  color: #8b95a5;
  opacity: 0.8;
  font-weight: 400;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.mediaMetaDay::before {
  margin-right: 16px;
}

.mediaMetaDay::before,
.mediaMetaDay::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.mediaMetaDay::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.mediaMetaDay::after {
  margin-left: 16px;
}

.mediaChat.mediaChatReverse {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  float: right;
}

.mediaChat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.mediaChat.mediaChatReverse .mediaBody p {
  float: right;
  clear: right;
  background-color: #48b0f7;
  color: #fff;
}

.mediaChat .mediaBody p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px;
}

.borderLight {
  border-color: #f1f2f3 !important;
}

.bt1 {
  border-top: 1px solid #ebebeb !important;
}

.publisher {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  background-color: #f9fafb;
}

.publisher > *:first-child {
  margin-left: 0;
}

.publisher > * {
  margin: 0 8px;
}

.publisherInput {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  outline: none !important;
  background-color: transparent;
  height: 50px;
  overflow-y: scroll;
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.publisherBtn {
  background-color: transparent;
  border: none;
  color: #8b95a5;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.fileGroup {
  position: relative;
  overflow: hidden;
}

.publisherBtn {
  background-color: transparent;
  border: none;
  color: #cac7c7;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.fileGroup input[type='file'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 20px;
}

.textInfo {
  color: #48b0f7 !important;
}

.farvChatDetailsFootl .smileicons {
  position: absolute;
  top: -37px;
  left: 0;
  background: #fff;
  padding: 2px 10px;
  border-radius: 20px;
  width: 265px;
  box-shadow: 0px 0px 6px #d7d7d7;
}

.farvChatDetailsFootl .smileicons button {
  background-color: transparent;
  border: none;
  margin: 0px 3px;
  display: inline-block;
}

.fileUploadInput {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 9999;
  opacity: 0;
  top: 0;
}

.publisherInput + span {
  position: relative;
  display: inline-block;
  margin-top: -5px;
  padding-left: 5px;
}

.fileUploadInput + img {
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
  width: 18px;
  cursor: pointer;
}

.giftsIcons {
  position: absolute;
  left: 0;
  top: -83px;
}

.giftsIcons img {
  width: 200px;
  height: 81px;
  object-fit: contain;
  object-position: left;
  vertical-align: middle;
}

.chat_history {
  padding: 30px 30px 20px 10px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 60vh;
}

.chat_history,
.message_data {
  margin-bottom: 15px;
}

.chat_history ul {
  margin: 0;
  padding: 0;
}

.chat_history ul li {
  list-style: none;
}

.chat_history {
  text-align: left;
}

.message_data {
  text-align: right;
}

.message_data_time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat_history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.chat_history .my_message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}

.chat_history .other_message:after {
  bottom: 100%;
  right: 5%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}

.chat_history .my_message {
  background: #ffffff;
  color: #000;
  padding: 10px 15px;
  margin: 15px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #cbcbcb;
  border-radius: 5px;
  width: fit-content;
}

.chat_history .other_message {
  background: #fff;
  padding: 10px 15px;
  margin: 0px 0px 0;
  text-align: right;
  box-shadow: 0px 0px 10px #cbcbcb;
  border-radius: 5px;
  color: #171717;
  width: fit-content;
  float: right;
}

.online,
.circle_online {
  background-color: #86bb71;
  font-size: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 2px;
}

.chatModuleInner {
  position: absolute;
  top: 100%;
  right: 0;
}

.farvChatDetailsHead {
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}

.farvChatDetailsHead span {
  position: absolute;
  top: 5px;
  right: 0;
}

.farvChatDetailsHead button {
  border-bottom: 1px solid transparent;
  background-color: red;
  color: white;
  padding: 6px 6px;
  border-radius: 5px;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  line-height: normal;
}

.blockImg {
  height: 15px;
  width: 15px;
  margin-top: 5px;
  cursor: 'pointer';
  filter: invert(100%);
}

.chatMsgImg img {
  max-width: 100%;
}
.chatMsgImgL,
.chatMsgImgR {
  clear: both;
}
.chatMsgImgL img {
  float: left;
  text-align: left;
  max-width: 40%;
}
.chatMsgImgR img {
  float: right;
  text-align: right;
  max-width: 40%;
}
.chat_history ul li span {
  display: inline-block;
  clear: both;
  width: 100%;
  margin: 7px 0px 0px;
  font-size: 13px;
}
