.clear {
  clear: both;
}

.subscriptionUi {
  float: left;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
}

.headingSubscrpt {
  font-size: 24px;
  margin: 30px 1% 10px;
  width: 100%;
  display: inline-block;
  font-weight: 600;
  text-transform: capitalize;
}

.packagesList .packages {
  float: left;
  width: 31%;
  margin: 20px 1%;
  padding: 30px 20px;
  background: rgb(88, 28, 135);
  background: linear-gradient(313deg, rgba(88, 28, 135, 1) 0%, rgba(79, 69, 184, 1) 100%);
  border: 1px solid #fff;
  box-shadow: 1px 1px 5px #d6d6d6;
  cursor: default;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  /* padding: 1rem 1rem 1rem; */
  box-sizing: border-box;
}

.packagesList .packages h2,
.packagesList .packages h3,
.packagesList .packages p {
  color: #fff;
}

.packagesList .packages a {
  color: #757575;
  background-color: #fff;
}

.packagesList .packages .packageTitle h2:before {
  background-color: #fff !important;
}

.packagesList .packages .packageTitle h2 {
  float: left;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  width: -webkit-fill-available;
}

.packagesList .packages .packageTitle h2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 25px;
  height: 3px;
  background-color: #757575;
}

.packagesList .packages .packageTitle p {
  float: right;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: -5px;
}

.packagesList .packages .packageTitle p span {
  vertical-align: top;
  vertical-align: top;
  font-size: 14px;
}

.packagesList .packages h3 {
  margin-top: 60px;
  clear: both;
  font-size: 20px;
  font-weight: 600;
}

.packagesList .packages a {
  background-color: #757575;
  color: #fff;
  width: 100%;
  display: block;
  margin-top: 70px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.disabledlink {
  pointer-events: none;
}

.mydiv {
  width: 100%;
  /* height: 187px; */
  background: linear-gradient(to right, #4f45b8, #581c87);
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  box-sizing: border-box;
}

.mydiv2 {
  width: 100%;
}

.mydiv3 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-block-end: auto;
  line-height: 20px;
}

.headingSubscrptionpurchase {
  margin-right: 50%;
  color: white;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 500;
}

.paragraph {
  font-size: 17px !important;
  line-height: 24px !important;
  color: white;
  text-align: justify;
  /* font: message-box; */
  margin: 0;
}

.header_btns {
  position: relative;
}

.header_btns li {
  display: inline-block;
  list-style: none;
  margin: 5px 7px;
}

.header_btns a {
  text-decoration: none;
  color: #fff;
  background: #fff;
  background-color: #fff;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  margin-bottom: 2%;
  background-color: rgba(255, 112, 72, 1);
  display: inline-block;
  margin-top: 20px;
  float: right;
}
.header_btns a:hover {
  /* background: #fff; */
  transform: scale(1.1);
}
.header_btns li a {
  background-color: #00000093;
}

.header_btns li a:hover {
  background-color: #000000;
}
.clear {
  clear: both;
}

@media screen and (max-width: 991px) {
  .subscriptionUi {
    padding: 0px 20px;
  }
  .mydiv {
    box-sizing: border-box;
  }
  .header_btns a,
  .header_btns a:hover {
    float: none;
    width: auto;
  }
  .headingSubscrptionpurchase {
    margin: 10px 0px 10px 0px;
  }
}
