@media screen and (max-width: 768px) {
  table {
    width: 2000px !important;
  }
}

.closeBtnModal {
  position: absolute !important;
  right: 10px !important;
  top: 15px !important;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  min-width: auto;
  color: #fff !important;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #fff !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
}

.closeBtnModal:hover {
  position: absolute !important;
  right: 10px !important;
  top: 15px !important;
}

.closeBtnModal img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  padding: 3px;
  border: 1px solid #000;
}

.closeBtnModal img:hover{
  border-radius: 5px;
}
